<form (ngSubmit)="signIn()">
    <div style="display: flex;flex-direction: column;justify-content: start;align-items: flex-start;margin-top: 32px;margin-left: 200px;">
    <div class="mb-3">
        <input type="text" class="form-control" id="email"  name = "email" placeholder="Email" [(ngModel)]="email" >
    </div>
    
    <div class="mb-3">
        <input type="password" class="form-control" id="password"  name = "password" placeholder="Password" [(ngModel)]="password"  >
    </div>
    
   
    
     
      
    <div>
      <button type="submit" class="btn btn-success">Se connecter</button>
    </div>
</div>
    </form>
    
    
